# Virtual Environment
.venv/
venv/
ENV/

# Data and Models (Large files)
# These are ignored because they are too large for standard Git
Data/
models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Log files
*.log

# Large binary files
*.pkl
*.joblib
results/preprocessed_data.pkl
